<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Nutshell.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4859FCB41B9A4DE4000C1269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4859FCCB1B9A4DE5000C1269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4859FCD61B9A4DE5000C1269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
